html{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}
h4{
    font-family: 'Roboto', sans-serif;
}
.paragraf1{
    font-size: 16px;
    color: #37474F;
}
.paragraf2{
    font-size: 18px;
    color: #546E7A;
}
.paragraf3{
    font-size: 20px;
    color: #78909C;
}
ul{
    background-color: #ECEFF1;
}
.a{
    list-style-type: circle;
}
.b{
    list-style-type: square;
}
.c{
    list-style-type: upper-roman;
}
.d{
    list-style-type: lower-alpha;
}
.highlight{
    color: #FFC107;
}
